# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Entornos virtuales
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Streamlit
.streamlit/

# IDEs y Editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos de sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Logs y Temporales
*.log
scratch/

